/* Antecipação da Página */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    padding-bottom: 4rem;
    --color: #131313;
    --color2: rgb(212, 212, 212);
    --color-text: #131313;
    --background-color: #fafafa;

    background: var(--background-color);

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    scroll-behavior: smooth;

    font-weight: 200;
}

body.dark {
    --color: #fafafa;
    --color2: rgb(219, 219, 219);
    --color-text: #fafafa;
    --background-color: #131313;
}

/* Barra de Navegação */

nav {
    position: sticky;
    top: 0;
    max-height: 3rem;
    background-color: var(--background-color);
    padding: 20px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    gap: 16px;
}

a:visited {
    color: var(--color)
}

a:hover {
    color: #ecbe5b;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

/* Barra de Navegação */

section {
    color: var(--color-text);
    display: none;
    width: clamp(200px, 70vw, 800px);
    margin: 100px auto 0;

}

section.active {
    display: block;
}

.job h3, section h2 {
    font-size: 40px;
    font-weight: 300;
    position: static;
}

p {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

section ul {
    margin-top: 16px;
    list-style: none;
}

section li {
    margin-top: 4px;
}

ul.linguagens {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-left: 24px;
    gap: 40px;
    list-style: disc;
}


.line {
    margin: 24px 0;
    height: 8px;
    background-color: var(--color);
}

.lineTwo {
    margin: 24px 0;
    height: 1px;
    background-color: var(--color2);
}


#darkmodeLabel {
    left: 16px;
    top: 16px;
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: var(--color);
    border-radius: 50%;
    cursor: pointer;
}

#title {
    position: absolute;
    inset: 0;
    color: var(--color-text);
    display: grid;
    place-items: center;
    margin-top: -2em;
    font-weight: 600;
    font-size: 6rem;
    pointer-events: none;
}